/* * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 14px ;
}


window#waybar {
    background-color: rgba(26, 27, 38, 0.85);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin : 2px;
    margin-right: 5px ;
    border-radius: 5px; 
}

#workspaces button {
    color : black ; 
    border-radius: 40%;
    border-color: blanchedalmond;
    border-width: 0px; 
}
#workspaces button.active {
    color: #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}
#workspaces button:hover {
    background-color: red;
    color: burlywood;
    border-bottom : 3px solid #7aa2f7; 
    box-shadow: inherit;
} */


* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.85); /* Màu tối mờ trong suốt */
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a9b1d6;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.active {
    color: #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

#window,
#clock,
#network,
#bluetooth,
#pulseaudio,
#battery,
#tray,
#temperature {
    padding: 0 12px;
    margin: 2px 2px;
    background-color: #24283b;
    border-radius: 8px;
}

#window {
    background-color: transparent;
}

#clock {
    color: #7aa2f7;
}

#network {
    color: #b4f9a8;
}

#bluetooth {
    color: #7da6ff;
}

#pulseaudio {
    color: #e0af68;
}

#pulseaudio.muted {
    color: #f7768e;
}

#battery {
    color: #9ece6a;
}

#battery.charging, #battery.plugged {
    color: #9ece6a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#custom-power{
    font-size: 25px;
    color : red ;
    margin: 0 10 ; 
}

#custom-aura {
    padding-left : 5px ; 
    color: red ; 
    font-size: 25;
}