
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.85); /* Màu tối mờ trong suốt */
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px
}

window#waybar.hidden {
    opacity: 0.2;
}


#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-aura,
#custom-power,
#tray,
#workspaces button {
    padding: 0 10px;
    margin: 4px 2px;
    color: #a9d6b1;
    background-color: #24283b;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 8px;
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #1a261d;
    font-weight: bold;
}

#workspaces button:hover {
    background: #414868;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color: #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #f7768e;
}



#custom-aura {
    color: #bb9af7;
    font-weight: bold;
    font-size: 20;
}

#clock:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-power:hover  {
    background-color: #414868;
    color: #ffffff;
}


#window {
    background-color: transparent;
}

#clock {
    color: #7aa2f7;
}

#network {
    color: #b4f9a8;
}

#bluetooth {
    color: #7da6ff;
}

#pulseaudio {
    color: #e0af68;
}

#pulseaudio.muted {
    color: #f7768e;
}

#battery {
    color: #9ece6a;
}

#battery.charging, #battery.plugged {
    color: #9ece6a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#custom-power{
    font-size: 25px;
    color : red ;
    margin: 0 10 ; 
}

